body {
  background: #000000;
  margin-left: 0px;
  margin-top: 0px;
  /* cursor:crosshair; */
  overscroll-behavior: contain;
  overscroll-behavior-y: contain;
}

#wrap {
  position: relative;
  margin-top:10px;
  margin-left:10px;
  margin-right:20px;
  margin-bottom:10px;
  border: 2px solid green;
  width:1090px;
  height:440px;
}

/* Drawing Area */
#div-draw {
  /* visibility: hidden; */
  position: absolute;
  /* top:20px; */
  /* left:30px; */
  width:1090px;
  height:440px;
  /* background: #000000; */
  /* background-image: url("./blackboard.jpg"); */
}

#canvas-area {
  /* position: absolute; top:20px; left:30px; */
  /* border: 2px dotted #CCCCCC; */
  /* width: 1090px; */
  /* height: 440px; */
  /* border-radius: 5px; */
  cursor: pointer;
}

#div-drawing-toolbar {
  position: absolute;
  top:450px;
  left:500px;
}

/* Move Area */
#div-motion {
  position: absolute;
  /* top:20px; */
  /* left:30px; */
  width: 1090px;
  height: 440px;
  /* background: #000000; */
  /* background-image: url("./blackboard.jpg"); */
}

#div-motion-toolbar {
  position: absolute;
  top:450px;
  left:100px;
}

/* drone up down */
#div-monocopter {
  position: relative;
  /* visibility: hidden; */
}

.tube {
  position: absolute;
  width: 110px;
  height: 400px;
  border-color: #FFFFFF;
  border-width: thin;
  border-style: solid;
}

.line {
  position: absolute;
  width: 100px;
  height: 50px;
  margin: -50px 0 0 -50px;
  background: #000000;
  /* border-radius: 50%; */
  backface-visibility: hidden;
  background-image: url("./monocopter.png");
  background-size:100px;
  background-repeat:no-repeat;
}

/* angular rotation */
#div-gyro {
  position: relative;
  /* visibility: hidden; */
}

.hbar {
  position: absolute;
  /* width: 200px; */
  height: 2px;
  margin: -1px 0 0 -1px;
  background: #888888;
}

.circle {
  position: absolute;
  /* width: 400px; */
  /* height: 400px; */
  /* margin: -200px 0 0 -200px; */
  /* background: #888888; */
  border-radius: 50%;
  border-style: dashed;
  border-width: 2px;
  border-color: #888888;
  backface-visibility: hidden;
}

.center {
  position: absolute;
  width: 2px;
  height: 2px;
  margin: -1px 0 0 -1px;
  background: #888888;
  border-radius: 50%;
  backface-visibility: hidden;
}

.angle {
  position: absolute;
  width: 30px;
  height: 30px;
  margin: -15px 0 0 -15px;
  background: #FFFFFF;
  border-radius: 50%;
  backface-visibility: hidden;
}

.angle-bar {
  position: absolute;
  /* width: 200px; */
  height: 2px;
  margin: -1px 0 0 -1px;
  background: #FFFFFF;
}

.toolbar-button {
  background-color: yellow;
}

.toolbar-text {
  color: white;
}

